{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/messages.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
      <div class="container">
          <a class="logout" href="{{path('fos_user_security_logout')}}">logout</a>

          <div class="contacts-box">
              <div class="header-contacts">
                  <form action="{{ path('groupAdd') }}" method="post" id="addgroupform">
                      {{ form_widget(form2.name) }}
                      {{ form_rest(form2) }}
                  </form>
              </div>
              <div class="container-contacts">
                  {% for group in groups %}
                    {% if group.enable %}
                        <a class="contact {% if group.id == current_group.id %} active {% endif %}" href="{{ path('group', {id_group:group.id}) }}">
                            {{ group.name }}
                        </a>
                    {% endif %}
                  {% endfor %}
              </div>
          </div>
          <div class="messages-box">
              <div class="header-box">
                  <h3>{{ current_group != null ? current_group.name : '' }}</h3>
              </div>
              <div class="content-box" id="divExample">
                  {% if current_group != null %}
                    {% for message in messages %}
                        {% if message.enable %}
                            {% if message.user.id == user_id %}
                                <p class="msg me {% if message.report %} report {% endif %}">
                            {% else %}
                                <p class="msg other {% if message.report %} report {% endif %}">
                                <span class="msg-username"> ~ {{ message.user.firstname }} {{ message.user.lastname }}</span>
                                {% if message.report != 1 %}
                                <a class="signal-link" href="{{ path('report_message', {id_message:message.id, id_group:id_group}) }}">report</a>
                                {% endif %}
                            {% endif %}
                            {% if message.report %}
                            <span class="msg-content report-msg">/!\ Message reported</span>
                            {% else %}
                            <span class="msg-content">{{ message.content }}</span>

                            {% endif %}

                                <span class="msg-date">{{ message.dateCreated|date('d/m/Y H:i') }}</span>
                                </p>
                        {% endif %}
                    {% endfor %}
                  {% endif %}

              </div>
              <div class="write-box">
                  {% if current_group != null %}
                  <form action="{{ path('group', {id_group:id_group}) }}" method="post">
                        {{ form_widget(form.content) }}

                        <input class="send-message-button" type="submit" value="send" />
                        {{ form_rest(form) }}
                  </form>
                  {% endif %}


                <!--<input type="text" name="name" value="" placeholder="Taper un message">-->
              </div>


      </div>

          <div class="contacts-box">
              <div class="header-contacts">
                  <form action="{{ path('group', {id_group:current_group.id}) }}" method="post" id="adduserform">
                      {{ form_widget(form3.firstname) }}
                      {{ form_rest(form3) }}
                  </form>
              </div>
              <div class="container-contacts">
                  {% for user in userAll %}
                            <a class="contact" href="{{ path('addUser', {id_group:id_group,id_user:user.id}) }}">{{ user.firstname }} {{user.lastname}} </a>
                  {% endfor %}
              </div>
          </div>
      </div>

{% endblock %}


{% block javascripts %}
    <script>
        var objDiv = document.getElementById("divExample");
        objDiv.scrollTop = objDiv.scrollHeight;

        var form = document.getElementById("addgroupform");

        document.getElementById("addbuttongroup").addEventListener("click", function () {
            form.submit();
        });
    </script>
{% endblock %}
