<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/messages.css') }}" type="text/css" media="all" />
  </head>
  <body>
      <div class="container">
          <div class="contacts-box">
              <div class="header-contacts">
                  <input type="text" name="name" value="" placeholder="search">
              </div>
              <div class="container-contacts">
                  {% for group in groups %}
                  <a class="contact" href="/group/{{ group.id }}">

                          {{ group.name }}

                  </a>
                  {% endfor %}
              </div>
          </div>
          <div class="messages-box">
              <div class="header-box">
                  <h3>title</h3>
              </div>
              <div class="content-box">
                <!--<p class="msg me">Lorem ipsum dolor sit amet, consectetur.</p>
  				<p class="msg other">Magni magnam repudiandae vero reiciendis, dolorem corporis.</p>
  				<p class="msg me">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio error natus illum quod aut a. Adipisci amet repellat, perferendis nisi quam similique consectetur earum, vel quasi quo sequi nulla nesciunt.</p>
  				<p class="msg me">Lorem ipsum dolor sit amet, consectetur.</p>
  				<p class="msg other">Magni magnam repudiandae vero reiciendis, dolorem corporis.</p>-->
                {% for message in messages %}
                {% if message.id == user_id %}
                <p class="msg me">
                {% else %}
                <p class="msg other">
                {% endif %}{{ message.content }}</p>
                {% endfor %}
              </div>
              <div class="write-box">
                  <form action="{{ path('group', {id_group:'id_group'}) }}" method="post">
                        {{ form_widget(form.content) }}

                        <input class="send-message-button" type="submit" value="send" />
                        {{ form_rest(form) }}
                  </form>


                <!--<input type="text" name="name" value="" placeholder="Taper un message">-->
              </div>
          </div>
              <div>
              Acces rapide
              <a href="/login">Login</a>
              <a href="/register">Register</a>
          </div>
      </div>

  </body>
</html>
