{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}

    {% include 'AppBundle::menu.html.twig' %}
    
    <table>
        <tr>
            <th width="85%">Name</th>
            <th width="15%">Actions</th>
        </tr>
        {% for group in groups %}
            <tr>
                <td>{{group.name}}</td>
                <td>
                    <a href="/admin/group/{{group.id}}">Edit</a>
                    <a href="/admin/group/changeStatut/{{group.id}}"> 
                        {{group.enable == true ? 'Disable' : 'Enable'}} 
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}